@import 'reset/reset.css';
.polyclip svg {
  display: none;
}
.polyclip,
.clip-wrap,
.clip-element {
  width: 100%;
  height: 100%;
}
.polyclip {
  position: relative;
}
.clip-element {
  position: absolute;
}
